//brand base colors
$darkest: #3B3F3F;
$dark: #2f4861;
$brown: #68260a;
$light: darken(#f6895a,5%);
$lightest: #1ab9a2;

//dark theme colors

$darkTheme1: #121212;
$darkTheme2: #1c1c1c;
$darkTheme3: #bb86fc;
$darkTheme4: #03dac6;

//base colors
$white: white;
$black: black;
$grey: #979797;
$offset: #f6f6f6;

//theme element colors
$background: $white;
$header: $dark;
$footer: $dark;
$menuOverlay: $dark;

