//RWD Break Points -- Mobile First
$minBP: 460px;
$mobileBP: 560px;
$tabletSmallBP: 780px;
$tabletLargeBP: 990px;
$desktopSmallBP: 1400px;
$desktopLargeBP: 1640px;

@mixin breakpoint($point) {
	@if $point == desktopLarge {
    @media (max-width: $desktopLargeBP) { @content; }
  }
  @if $point == desktopSmall {
    @media (max-width: $desktopSmallBP) { @content; }
  }
  @else if $point == tabletLarge {
    @media (max-width: $tabletLargeBP) { @content; }
  }
  @else if $point == tabletSmall {
    @media (max-width: $tabletSmallBP) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: $mobileBP)  { @content; }
  }
}