//RWD Break Points -- Mobile First
$min-breakpoint: 480px;
$mobile-breakpoint: 780px;
$tablet-breakpoint: 900px;
$desktop-breakpoint: 1400px;
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: $desktop-breakpoint) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: $tablet-breakpoint) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: $mobile-breakpoint)  { @content; }
  }
}